# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Coverage and generated packs
coverage-final.log
coverage-run.log
coverage.lcov
lcov.info
uAgri-step1.zip
